*,html,body
{
  margin:0;
  padding:0;

}


body{
  height: 3000px;
  background-color: #2e2251 ;
}


p,  a{
  
}

.landing{
text-align: center;

}

header{

  height: 112px;
  line-height: 112px;
  position:fixed;
  z-index: 1;
  width: 100%;
  
}

.fa-frog
{
  color:green
}

.jumbotron
{
  background-image: url(../images/Sky\ and\ Clouds\ Zoom\ Virtual\ Background.gif);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
  margin-bottom: 0;
}


.intromes
{
  margin-top: 250px;
  
}

.wing{
  width: 20rem;
}

.intro-area h2
{
  font-family: 'Fondamento', cursive;
  font-size: 50px;
}


.display-4 {
  font-family: 'Fondamento', cursive;
  color: black;
  text-align: center;
  opacity: 1;
  
}

.lead
{
 
  font-family: 'Fondamento', cursive;
  font-size: 15px;
text-align: center;
}

.bot
{
  text-align: center;
  width: 40%;
  background-color: #4a8099c7;
  height:50px;
  font-family: 'Fondamento', cursive;
  font-size: 25px;

}

.container
{
  max-width: 1160px;
  
}

img
{
  vertical-align: middle;
    max-width: 100%;
}

.navbar-nav .nav-link {
  padding-right: 0;
  margin: 20px;
  font-family: 'Fondamento', cursive;
  font-size: 25px;

}

.secondary
{
  background: linear-gradient( to right, #2e424b, #807b6dde ) ;
  box-shadow: 0px 0px 17px 0px;
  transition: all 0.5s ease-in;

}
 


ul
{list-style: none;
  
}

ul li{
display: inline-block;


}





.logo img
{ 
  margin-top: 30px

}



header nav ul li a{

  padding-right:30px;
  color: black;
  transition: all 0.5s;
  font-size: 15px;
  line-height: 15px;
  
  

}


header nav ul.navbar-nav
{
  margin-left: auto;
  
}


header nav ul li a:hover{

  text-decoration: none;
  color:rgb(9, 177, 9);
}

.navbar-toggler
{
  margin:auto
}

.shape{
  position: absolute;
  right: 0;
  top: 0;
  z-index: -3;

  width: 45vw;
}


.this
{
margin-top: 150px;
}

.gifstart
{
  background-size: 100%;
  background-repeat: no-repeat;
  width: 100%;
  border-radius: 6px;
  
}

.slider, .slider ul, .slider ul li{
  height:950px;
  width:100%;
  color:white;
  text-align: center;
}

.slider h2{
 font-weight: bold;
 margin-top: 270px
}

.slider span
{
  color:orange
}



.slider a.btn-half{
background-color: rgb(36, 3, 63);
border: solid green;
color:white

}




.intro-area
{
  position: relative;
  padding: 100px 0px;
  text-align: center;
}

.sub-heading
{
  position: relative;
  margin-bottom: 75px;
}

.sub-heading:before
{
  content:"";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -25;
  width: 4%;
  height: 1px;
  background-color: #2e424b;
  z-index: 1;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;

  

}

.sub-heading:hover:before
{
  width: 24%;
  margin-left: -12%;

}

.sub-heading:after
{
  content:"";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -12%;
  width:24%;
  height:1px;
  background-color: #e1e1e1;
}

.sub-heading p
{
  color: #010101;
    display: inline-block;
    padding: 0px 0px 20px;
    position: relative;
    line-height: 24px;
    letter-spacing: 0.025em;
}

.intro-block
{
  position: relative;
  background: #f7f7f7;
  margin: 50px 0px 0px;
  padding: 70px 25px 40px;
  text-align: center;
  height: 340px;
border: 10px solid #2e424b
}



.intro-block:hover, .intro-block.active
{background: #656254;

}


.intro-block:hover
{
  transition: .6s ease;
  -webkit-transition: .6s ease;
  -moz-transition: .6s ease;
  -o-transition: .6s ease;
  -ms-transition: .6s ease;

}

.intro-block .intro-icon
{
  position: absolute;
  top: -31px;
  left: 50%;
  margin-left: -31px;

}

.intro-block .fab 
{
  width: 63px;
  height:63px;
  font-size: 30px;
  color:white;
  line-height: 2;
  background: #2e424b;
  border-radius: 50%;
  box-shadow: 0px 0px 0px 10px #cceef9;
}

.intro-block .fa
{
  width: 63px;
  height:63px;
  font-size: 30px;
  color:white;
  line-height: 2;
  background: #2e424b;
  border-radius: 50%;
  box-shadow: 0px 0px 0px 10px #cceef9;
}

.intro-block:hover .fab, .intro-block.active .fab
{
background: white;
color: #2e424b;
box-shadow: 8px 0px 0px 10px #2e424b;
}

.intro-block:hover .fa, .intro-block.active .fa
{
background: white;
color: #2e424b;
box-shadow: 8px 0px 0px 10px #2e424b;
}

.intro-block h3 
{
  font-size: 18px;
  color:#2e424b;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 15px;
  font-family: 'Fondamento', cursive;
}

.wingbtn
{
  background-color: #a5d3eb;
  font-family: 'Fondamento', cursive;
  width:65%
}

.wingbtn:hover{
 background: #2e424b;
  ;
  color:white
}

.feature-area
{
  font-family: 'Fondamento', cursive;
  font-size:18px
}

.intro-block p
{
  color: #505050;
}

.intro-block:hover h3, .intro-block:hover p
{
color: #f6f6f6;
}

.feature-area
{
background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(../images/Canva\ -\ Photo\ Of\ Rocky\ Mountain.jpg);
background-position: center;
background-attachment: fixed;

}

.title h2,p,h3
{
color: white;
}

.single-feature h3{
  color: white;
}

.single-feature 
{
  position: relative;
  
  float: left;
  padding: 30px 0;
  text-align: center;
  border-right: 1px solid #2e424b;;
  border-bottom: 1px solid #2e424b;
  transition: .3s ease;
 -webkit-transition: .3s ease;
 -moz-transition: .3s ease;
  -o-transition: .3s ease;
  -ms-transition: .3s ease;

}

.feature-block:after{
  content:"";
  display:table;
}

.feature-icon{
display: inline-block;
margin-bottom: 20px; 
}

.single-feature i.fab{

  border: 2px solid #fff;
  padding: 15px;
  border-radius: 50%;
  font-size: 30px;
  background-color: #2e424b;
  color:white;
  width:64px;
  height:64px;
  transition: .3s ease;
  -webkit-transition: .3s ease;
  -moz-transition: .3s ease;
   -o-transition: .3s ease;
   -ms-transition: .3s ease;
 transition: .3s ease;
}

.feature-block:hover .single-feature
{
border-color: white;
transition: .3s ease;
  -webkit-transition: .3s ease;
  -moz-transition: .3s ease;
   -o-transition: .3s ease;
   -ms-transition: .3s ease;
 transition: .3s ease;

}
.single-feature:hover .feature-icon .fab 
{
  border: 2px solid #00a7dd;
  background: white;
  color: #2e424b;
}


.single-feature:nth-of-type(even)
{
  border-right: none;
}

.single-feature:nth-last-child(2)
{
  border-bottom: none;
}

.single-feature:last-child
{
  border-bottom: none;
}

.feature-area 
{
  padding: 100px 0;
}

.feature-mockup
{
  bottom: -132px;
  position: relative;

}

.title .sub-heading p
{
  color:white
}

.more-feature .title .sub-heading p
{
  color:darkgray
}


.more-feature .title  h2
{
  color: black;
}

.more-feature
{
  padding: 100px 0px;
}

.feature-list ul 
{
list-style: none;

}

.feature-list li
{
  position: relative;
  margin-bottom: 30px;
  padding-left: 80px;
}

.feature-list li:hover i
{
color:white;
background-color: #2e424b;
-webkit-transition: .3s ease;
-moz-transition: .3s ease;
 -o-transition: .3s ease;
 -ms-transition: .3s ease;
transition: .3s ease;

}

.feature-icon
{
  position: absolute;
  left:0;

}

.feature-icon i 
{
  width:63px;
  height: 63px;
  text-align: center;
  font-size:30px;
  background: white;
  color: #2e424b;
  border-radius: 50%;
  border: 2px solid #2e424b;
  line-height: 63px;
}

.feature-details h3
{
  color: #2e424b;
  font-weight: 700;
  text-transform: uppercase;

}

.feature-details p 
{
  color:grey; 
  font-weight: 200;

}

.more-feature img
{
  margin-left:70px;
}

.testimony
{
  background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(../images/Canva\ -\ Photo\ Of\ Rocky\ Mountain.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding-top:120px ;
  padding-bottom:120px ;
  color: white;
  margin-top: -100px;
  
}

.testimony .carousel-indicators
{
  bottom: -60px;

}

.testimony .sub-heading p{
  color: white;
}

.carousel-inner img
{
width: 150px;
height:150px;
border-radius: 100%;
border:2px solid #2e424b;
padding: 5px;
}

.testimony .carousel-indicators li.active 
{
  background-color: #2e424b;

}

.testimony .carousel-indicators li
{
  border: 2px solid #2e424b;
}

.team-area
{
  padding: 100px 0px;
}

.team-area .sub-heading 
{
  margin-bottom: 100px;

}

.team-man
{
  position: absolute;
  left: 50%;
  margin-left: -50px;
  top: -50px;
  overflow: hidden;
  min-height: 100px;
  height: 100px;
  width: 100px;
  min-width: 100px;
  border: 10px solid #2e424b;
  border-radius: 50%;


}

.team-man img
{
  width: 100%;
  height: 100%;
  min-height: 100%;
  min-width: 100%;
  border-radius: 50%;
}

.team-block h3
{
  color: #00a7dd;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 70px;
  margin-bottom: 5px;
}

.team-block span 
{
  color: grey;
  font-size: 16px;
  text-transform: capitalize;
  letter-spacing: 0.025em;
  
}

.team-block p 
{
  color:grey;
  font-size: 14px;
  padding: 25px 15px;
  line-height: 24px;
}

.team-de
{
  background-color: #f5f5f5;

}

.team-social
{
  text-align: center;
  padding-bottom: 15px;

}

.team-social a 
{
  margin: 0px 6px;

}

.team-social i 
{
  height: 40px;
  width: 40px;
  background: white;
  text-align: center;
  color:#2e424b;
  border-radius: 50%;
  border: 3px solid #2e424b;
  padding-top: 10px;
}

.team-block
{
  text-align: center;
  position: relative;
}

.team-block:hover .team-de
{
  background-color: #2e424b;
  color: white;
  -webkit-transition: .3s ease;
-moz-transition: .3s ease;
 -o-transition: .3s ease;
 -ms-transition: .3s ease;
transition: .3s ease;

}

.team-block:hover .team-title h3,
.team-block:hover .team-title span
{
color: white;
-webkit-transition: .4s ease;
-moz-transition: .4s ease;
 -o-transition: .4s ease;
 -ms-transition: .4s ease;
transition: .4s ease;



}

.team-block:hover .team-de p 
{
  color: white;
  -webkit-transition: .5s ease;
-moz-transition: .5s ease;
 -o-transition: .5s ease;
 -ms-transition: .5s ease;
transition: .5s ease;

}

.team-block:hover .team-social i 
{
  border-color: white;
  background-color: #2e424b;
  color: white;
  -webkit-transition: .5s ease;
  -moz-transition: .5s ease;
   -o-transition: .5s ease;
   -ms-transition: .5s ease;
  transition: .5s ease;
}

.contact-area
{
  padding: 100px 0px;

}


.divider
{
  border-right: 1px solid grey;
}

.contact-area h3
{
  text-transform: uppercase;
  margin-bottom: 18px;
   
}
.contact-area h4
{
color: #3a3a3a;
font-weight: 700;
text-transform: capitalize;
margin-bottom: 4px;
letter-spacing: 0.025em;
}


.contact-area span 
{display: block;
  color: #3a3a3a;
  font-size: 12px;
  line-height: normal;
  letter-spacing: .025em


}

.contact-area ul li
{
  overflow: hidden;
  margin-bottom: 25px;


}

.contact-area ul li:last-child
{
  
  margin-bottom: 0;
}

.contact-address ul li .fa 
{
  float: left;
  width: 25px;
  color: #00a7dd;
  font-size: 30px;
}

.contact-address ul li .address-phonee
{

  float: left;
  width: 180px;
  padding-left: 25px;
}

.contact-block 
{
padding-left: 25px;


}

.contact-area .form-control .contact-area textarea
{
  font-family: 'Roboto', sans-serif;
  background-color: #f8fdff;
  border: 1px solid #a5d3eb;
  padding: 10px 12px;
  color: #bdbdbd;
  height: 45px;
  font-weight: 400;
  border-radius: 0;
}


.logo
{
  width:300px;
  margin: 0;
}

.sign {
  padding-top: 40px;
  color: #8C55AA;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size: 23px;
}

.un {
width: 76%;
color: rgb(255, 255, 255);
font-weight: 700;
font-size: 14px;
letter-spacing: 1px;
background: rgba(136, 126, 126, 0.04);
padding: 10px 20px;
border: none;
border-radius: 20px;
outline: none;
box-sizing: border-box;
border: 2px solid rgba(0, 0, 0, 0.02);

margin:auto;
text-align: center;

font-family: 'Ubuntu', sans-serif;
}

form.form1 {
  padding-top: 40px;
}

.pass {
      width: 76%;
color: rgb(255, 255, 255);
font-weight: 700;
font-size: 14px;
letter-spacing: 1px;
background: rgba(136, 126, 126, 0.04);
padding: 10px 20px;
border: none;
border-radius: 20px;
outline: none;
box-sizing: border-box;
border: 2px solid rgba(0, 0, 0, 0.02);

text-align: center;
margin:auto;
font-family: 'Ubuntu', sans-serif;
}


.un:focus, .pass:focus {
  border: 2px solid rgba(0, 0, 0, 0.18) !important;
  
}

.submit {
cursor: pointer;
  border-radius: 5em;
  color: #fff;
  background: linear-gradient(to right, #9C27B0, #E040FB);
  border: 0;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 10px;
  padding-top: 10px;
  font-family: 'Ubuntu', sans-serif;
  margin-left: 5%;
  font-size: 13px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}

.forgot {
  text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
  color: #E1BEE7;
  padding-top: 15px;
}

a {
  text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
  color: #E1BEE7;
  text-decoration: none
}

.main {
  background-color:#5c1a64f3;
  width: 300px;
  height: 300px;
  margin-left:auto;
  margin-right: 520px;
  margin-top: 400px;
  border: 2px solid #460d4e;
  border-radius: 1.5em;
  box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
  border:solid 3px white;
  position: relative;
  
}

@media (max-width: 600px) {
  .main {
      border-radius: 0px;
  }

  
}
@media only screen and (max-width: 600px) {
  nav {
    background-color: #807b6dde ;
  }

  .jumbotron{
    background-image: url(../images/ud.png)
  }
}